---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout>
	<h2>Physical. Logical. Visual.</h2>
	<img src="/DataCenter.png" alt="Equinix" />
	<h3>
		Public clouds are well documented. Edge clouds are not. I provide wayfinding through metro edge cloud infrastructure with a simple
			design strategy:
		</p>

		<ul>
			<p>
				<li>
					Chart the entire territory. Map physical infrastructure
					end-to-end, regardless of network ownership and colocation leases.
				</li>
			</p>
			<p>
				<li>
					Provide <i>context</i> for logical (infrastructure as code) by
					positioning it in the physical world, and representing it.
				</li>
			</p>
			<p>
				<li>
					Ensure that high-level views (used by all stakeholders)
					coordinate smoothly with detailed low-level drawings (used
					by specialists).
				</li>
			</p>
		</ul>

		Good, explanatory drawings command attention in marketing materials and
		spark productive conversations amongst stakeholders. They facilitate
		quick information transfer to everyone.
	</h3>
</BaseLayout>
