---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout>
	<h1>
		Full Stack Graphics
		<h2>for understanding modern application architectures</h2>
	</h1>
	<img src="/DataCenter.png" alt="Equinix" />
	<h4>
		My goal is to better understand application architectures that are
		<p>
			<li>built with git-based deployment frameworks</li>
			<li>deployed on metro edge runtime infrastructure</li>
			<li>and secured by the new SASE paradigm</li>
		</p>
		<p>Because it fascinates me. And might interest you.</p>

		<p>
			Airports, Hospitals and museums provide wayfinding to help people
			navigate complex physical infrastructure. What then of
			infrastructure-as-code?
		</p>
		<p>
			I provide wayfinding through metro edge cloud infrastructure with a
			simple design strategy that reconciles physical elements and logical
			constructs.
		</p>
		<p>
			Why? Because “visuals reveal spatial mappings that we use to reason
			about how our programs are structured and how data moves through
			them”
		</p>
	</h4>

	<ul>
		<p>
			<li>
				Chart the edge territories and map physical infrastructure
				end-to-end, from local access through interconnections and
				peering to serverless resources and services.
			</li>
		</p>
		<p>
			<li>
				Provide <i>context</i> for logical (infrastructure as code) by positioning
				it in the physical world, and presenting it in appropriate fashion.
				Wireframe? Flowchart? Whatever it takes...
			</li>
		</p>
		<p>
			<li>
				Ensure that high-level views (used by all stakeholders)
				coordinate smoothly with detailed low-level drawings (used by
				specialists).
			</li>
		</p>
	</ul>

	Good explanatory drawings command attention in marketing materials and spark
	productive conversations amongst stakeholders. They facilitate quick
	information transfer to everyone.
	<p>
		I'd love to say I'm standing on the shoulders of information design
		giants - but I'm really not - I'm holding onto their boots. Maggie
		Appleton. Priyanka Vergadia, AWS Geek. Those are the thought leaders of
		visualization. You should read them first.
	</p>
</BaseLayout>
