---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout>
	<h1 id="toc_0">About: Full Stack Graphics</h1>

	<p>
		Hello, I&#39;m Leo. I build <b>explanatory visual content</b> that focuses
		on
		<em>modern application architectures</em>.
	</p>I aspire to delivering full-stack graphics, so-called after full-stack
	application developers that work on both front-end clients and back-end
	servers. Duh. You knew that. <p>
		I complete the picture with network connectivity, so we can all go home
		early.
	</p>

	<p>To me, <em>modern</em> application architecture means:</p>

	<ul>
		<li>git-based deployment frameworks</li>
		<li>V8 runtimes or bare metal on metro edge infrastructure</li>
		<li>software-defined networks and interconnects</li>
		<li>and the SASE security paradigm</li>
	</ul>

	<p>
		I learned the value of graphic assets by leading technical sales and
		training presentations across North America for 15 years. I&#39;ve seen,
		from the front of some very nice rooms, that good graphics engage
		audiences and spark meaningful conversations. I then learned in hallways
		- where the best conversations happen - where there is room for
		improvement.
	</p>

	<p>
		And so, to support the <em>acceleration of sales cycles</em> and <em
			>creation of impactful training</em
		>, I deliver a harmonized suite of graphics that provide:
	</p>

	<ul>
		<li>
			<strong>big-picture awareness</strong> and <strong>context</strong> for
			everyone
		</li>
		<li><strong>deep-dive detail:</strong> for specialists</li>
	</ul>

	<p>
		Such information hierarchy is InfoDesign 101, I know. But it helps
		explain my design strategy of presenting intangible <strong
			>logical contructs</strong
		>
		<em>in the context of</em> real-world <strong>physical elements</strong
		>. Because in a DevOps culture, everyone involved understands the big
		picture.
	</p>

	<p>Cheers, Leo.</p>

	<p>
		PS. I am not standing on the shoulders of giants; I clutch at the
		boots of:
	</p>

	<ul>
		<li>Maggie Appleton, @maggie@indieweb.social, maggieappleton.com</li>
		<li>Priyanka Vergadia, @pvergadia, thecloudgirl.dev</li>
		<li>Simon Brown, @simonbrown</li>
		<li>Jerry Hargrove, @awsgeek emeritus</li>
		<li>and many others I hope to write about...</li>
	</ul><br />

	</p>
</BaseLayout>
