---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout>
	<h2>Metro edge clouds: Physical. Logical. Visual.</h2>
	<img src="/DataCenter.png" alt="Equinix" />
	<h3>
		Public cloud regions are well documented. Edge cloud POPs are not. I
		provide wayfinding through metro edge cloud infrastructure with a simple
		design strategy that reconciles physical elements and logical
		constructs. My goal is to better explain the new, modern solution
		architecture that is enabled (and secured!) by edge clouds.
	</h3>

	<ul>
		<p>
			<li>
				Chart the edge territories and map physical infrastructure
				end-to-end, from local access through interconnections and
				peering to serverless resources and services.
			</li>
		</p>
		<p>
			<li>
				Provide <i>context</i> for logical (infrastructure as code) by positioning
				it in the physical world, and presenting it in appropriate fashion.
				Wireframe? Flowchart? 110. 220. Whatever it takes...
			</li>
		</p>
		<p>
			<li>
				Ensure that high-level views (used by all stakeholders)
				coordinate smoothly with detailed low-level drawings (used by
				specialists).
			</li>
		</p>
	</ul>

	Good explanatory drawings command attention in marketing materials and spark
	productive conversations amongst stakeholders. They facilitate quick
	information transfer to everyone.
	<p>
		I'd love to say I'm standing on the shoulders of information design
		giants. But that's not true. I'm holding onto their boots. Maggie
		Appleton. Priyanka Vergadia, AWS Geek. They are my visualization heroes-
		you should read them first.
	</p>
</BaseLayout>
