---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout>
	<h1 id="toc_0">About: Full Stack Graphics</h1>

	<p>
		Hello, I&#39;m Leo. I build <b>explanatory visual content</b> that focuses
		on modern application architectures. You could call this Full Stack Graphics,
		after full-stack web devs that work on both front-end clients and back-end
		servers. Duh. You knew that.
	</p>

	<p>To me, <em>modern</em> application architecture means:</p>

	<ul>
		<li>git-based deployment frameworks</li>
		<li>V8 runtimes or bare metal on metro edge infrastructure</li>
		<li>software-defined networks and interconnects</li>
		<li>and the SASE security paradigm</li>
	</ul>

	<p>
		I learned the value of graphic assets the hard way, through 15 years of
		leading technical presales and training events. I&#39;ve seen, from the
		front of the room, that good graphics immediately engage audiences and
		spark meaningful conversations. Yet there may be room for improvement.
	</p>

	<p>
		And so, to <em>accelerate sales cycles</em> and <em
			>create impactful training</em
		>, I deliver:
	</p>

	<ul>
		<li><strong>big-picture awareness</strong> and context for everyone</li>
		<li><strong>deep-dive detail:</strong> for specialists</li>
	</ul>

	<p>
		Such information hierarchy is InfoDesign 101, I know. But it helps
		explain my design strategy, which is to present intangible <strong
			>logical contructs</strong
		>
		<em>in the context of</em> real-world <strong>physical elements</strong
		>. After all, code has to run <em>somewhere</em>.
	</p>

	<p>Cheers, Leo.</p>

	<p>
		PS. I&#39;m not standing on the shoulders of giants with this thinking.
		I clutch at the boots of:
	</p>

	<ul>
		<li>Maggie Appleton, @maggie@indieweb.social, maggieappleton.com</li>
		<li>Priyanka Vergadia, @pvergadia, thecloudgirl.dev</li>
		<li>Simon Brown, @simonbrown</li>
		<li>Jerry Hargrove, @awsgeek emeritus</li>
	</ul>

	<p>
		<em>&quot;technology makes more sense when you map it out&quot;</em>
		Miles Ward (back when he led Google&#39;s Solution Architects)
	</p>

	<p>
		<em
			>“visuals reveal spatial mappings that we use to reason about how
			our programs are structured and how data moves through them”</em
		> Maggie Appleton&#39;s presentation: Visualising React: Metaphors, Models,
		and Spatial Mediums from React Advanced 2021. So good.
	</p>

	<p>
		<em
			>“An architecture diagram is probably worth a million to architects
			and developers. It&#39;s is one of easiest and simplest ways to
			communicate quickly about your application, its architectures and
			its topology.”</em
		> Jeff Barr @ AWS:
	</p>
</BaseLayout>
