---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout>
  <h1>Full-Stack Graphics</h1>
  <h2>I chart modern, serverless applications through local metro infrastructure. Because technology makes more sense when you map it out.</h2>
  <h3>Full stack graphics are helpful for content marketing, sales deck and training.</h3>
</BaseLayout>
