---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout>
  <h1>Full-Stack Graphics</h1>
  <h2>front to back, up and down the stack</h2>
  <h3>Physical. Logical. Visual.</h3>
</BaseLayout>
